/**
 *
 * OFF CANVAS
 *
 */
.ui-dialog.ui-dialog-off-canvas .ui-dialog-titlebar {
  border-radius: 0;
  background-color: #262626;
  color: white;
}
.ui-dialog.ui-dialog-off-canvas .ui-dialog-titlebar-close {
  top: 50%;
  transform: translateY(-50%);
}

#drupal-off-canvas-wrapper {
  background-color: #262626;
  color: white;
  min-width: min(600px, 100%);
  box-sizing: border-box;
}
#drupal-off-canvas-wrapper .fieldset {
  background-color: transparent;
  color: white;
}
#drupal-off-canvas-wrapper .fieldset__legend {
  color: white;
}
#drupal-off-canvas-wrapper .fieldset__description {
  color: white;
}
#drupal-off-canvas-wrapper li {
  padding-bottom: 0.2em;
}
#drupal-off-canvas-wrapper a:not(.button) {
  color: white;
  text-decoration: none;
  outline: 0;
  padding: 0;
  border: 0;
  box-shadow: none;
}
#drupal-off-canvas-wrapper a:not(.button):hover, #drupal-off-canvas-wrapper a:not(.button):focus {
  color: #ffd23f;
}
#drupal-off-canvas-wrapper .form-element--type-select {
  width: 100%;
}
#drupal-off-canvas-wrapper a.inline-block-create-button {
  margin: 0;
  text-decoration: none;
  padding: 1rem;
  font-weight: bold;
  background: #26a769;
  box-shadow: 2px 2px 5px #888;
  transition: all 150ms linear;
  border-radius: 4px;
  text-align: center;
}
#drupal-off-canvas-wrapper a.inline-block-create-button:hover, #drupal-off-canvas-wrapper a.inline-block-create-button:focus {
  background: #1e8654;
  color: white;
  border: 0;
  outline: 0;
  box-shadow: 0 0 0 black;
}
#drupal-off-canvas-wrapper .layout-selection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  margin: 0;
  padding: 0;
  grid-gap: 10px;
}
#drupal-off-canvas-wrapper .layout-selection li {
  margin: 0;
  padding: 0;
  text-align: center;
}
#drupal-off-canvas-wrapper .layout-selection a svg {
  display: block;
  transform: scaleY(0.75);
  transform-origin: top left;
  margin: 0 auto -10%;
}
#drupal-off-canvas-wrapper .claro-details {
  background-color: #262626;
  color: white;
  margin-left: -1em;
  margin-right: calc(-1em + 1px);
  border: 0;
}
#drupal-off-canvas-wrapper .claro-details:hover, #drupal-off-canvas-wrapper .claro-details:focus, #drupal-off-canvas-wrapper .claro-details[open] {
  background-color: #4d4d4d;
  color: white;
}
#drupal-off-canvas-wrapper .claro-details__summary {
  color: white;
  background-color: transparent;
}
#drupal-off-canvas-wrapper .claro-details__summary:hover, #drupal-off-canvas-wrapper .claro-details__summary:focus {
  background-color: transparent;
  color: white;
}
#drupal-off-canvas-wrapper .claro-details__summary::before {
  filter: grayscale(100%) brightness(1000%);
}
#drupal-off-canvas-wrapper .claro-details__wrapper {
  margin: 0;
  padding: 1em;
}
#drupal-off-canvas-wrapper .inline-block-list__item {
  display: inline;
  padding: 0;
  margin: 0;
  background-color: transparent;
}
#drupal-off-canvas-wrapper .form-item__description {
  color: #ccc;
}
#drupal-off-canvas-wrapper .media-library-widget__toggle-weight {
  display: none;
}
#drupal-off-canvas-wrapper .media-library-selection .media-library-item--grid {
  min-width: 200px;
}
#drupal-off-canvas-wrapper .media-library-item__name {
  color: black;
}
#drupal-off-canvas-wrapper .tabledrag-handle::after {
  filter: invert(1);
}
#drupal-off-canvas-wrapper .tabledrag-toggle-weight-wrapper {
  display: none;
}
#drupal-off-canvas-wrapper tr {
  background-color: transparent;
  color: white;
}
#drupal-off-canvas-wrapper th {
  background-color: #262626;
  color: white;
}

svg.layout-icon > g > rect[class*=fake-area-force-hidden] {
  display: none !important;
}

/**
 *
 * MAIN AREA
 *
 */
.node-layout-builder-form .form-type--vertical-tabs {
  /**
   * hide revision information in layout builder form
   */
  display: none;
}

.layout-builder {
  border: 0;
  padding: 0;
}
@media screen and (min-width: 38em) {
  .layout-builder {
    margin-left: calc(-3rem + 2px);
    margin-right: calc(-3em + 2px);
  }
}
.layout-builder * {
  box-sizing: border-box;
}
.layout-builder__link--add {
  display: inline-block;
  color: white;
  background: #555;
  padding: 0.33em 0.66em;
  font-weight: bold;
  text-decoration: none;
}
.layout-builder__link--add:hover, .layout-builder__link--add:focus {
  background: #003cc5;
  color: white;
}
.layout-builder__layout.is-layout-builder-highlighted {
  border: 0 !important;
  outline: 4px solid #26a769 !important;
  outline-offset: -4px;
}
.layout-builder__section {
  margin-bottom: 0;
}
.layout-builder__add-section {
  background-color: #ddd;
  padding: 10px 0;
  outline: 0;
  border: 0;
  margin-bottom: 0;
}
.layout-builder__add-section.is-layout-builder-highlighted {
  border: 0 !important;
  outline: 4px solid #26a769 !important;
  outline-offset: -4px;
}
.layout-builder__link--remove {
  margin-left: -2px;
  transform: translateY(-4px);
}
.layout-builder__add-block {
  position: absolute;
  bottom: 2rem;
  transform: translateY(50%);
  left: 0;
  width: 100%;
  background-color: transparent;
  padding: 0;
  outline: 0;
  border: 0;
}
.layout-builder__add-block.is-layout-builder-highlighted {
  position: absolute;
  border: 0;
}
.layout-builder__add-block.is-layout-builder-highlighted .layout-builder__link {
  background-color: #26a769;
}
.layout-builder-block {
  background-color: transparent;
}
.layout-builder .area--gap-none {
  position: relative;
}
.layout-builder .area--gap-none::before, .layout-builder .area--gap-none::after {
  content: "";
  position: absolute;
  display: block;
  background-color: white;
  top: 0;
  bottom: 0;
  width: calc(var(--grid--gap--none) / 2);
  outline: 2px solid white;
  z-index: 9;
}
.layout-builder .area--gap-none::before {
  border-right: 2px dashed #2f91da;
  left: 0;
}
.layout-builder .area--gap-none::after {
  right: 0;
  border-left: 2px dashed #2f91da;
}
.layout-builder .area--gap-thin {
  position: relative;
}
.layout-builder .area--gap-thin::before, .layout-builder .area--gap-thin::after {
  content: "";
  position: absolute;
  display: block;
  background-color: white;
  top: 0;
  bottom: 0;
  width: calc(var(--grid--gap--thin) / 2);
  outline: 2px solid white;
  z-index: 9;
}
.layout-builder .area--gap-thin::before {
  border-right: 2px dashed #2f91da;
  left: 0;
}
.layout-builder .area--gap-thin::after {
  right: 0;
  border-left: 2px dashed #2f91da;
}
.layout-builder .area--gap-small {
  position: relative;
}
.layout-builder .area--gap-small::before, .layout-builder .area--gap-small::after {
  content: "";
  position: absolute;
  display: block;
  background-color: white;
  top: 0;
  bottom: 0;
  width: calc(var(--grid--gap--small) / 2);
  outline: 2px solid white;
  z-index: 9;
}
.layout-builder .area--gap-small::before {
  border-right: 2px dashed #2f91da;
  left: 0;
}
.layout-builder .area--gap-small::after {
  right: 0;
  border-left: 2px dashed #2f91da;
}
.layout-builder .area--gap-large {
  position: relative;
}
.layout-builder .area--gap-large::before, .layout-builder .area--gap-large::after {
  content: "";
  position: absolute;
  display: block;
  background-color: white;
  top: 0;
  bottom: 0;
  width: calc(var(--grid--gap--large) / 2);
  outline: 2px solid white;
  z-index: 9;
}
.layout-builder .area--gap-large::before {
  border-right: 2px dashed #2f91da;
  left: 0;
}
.layout-builder .area--gap-large::after {
  right: 0;
  border-left: 2px dashed #2f91da;
}
.layout-builder .wrapper--repeatcol {
  outline: 0 none !important;
}
.layout-builder .area {
  position: relative;
  padding-bottom: 4rem;
}
.layout-builder .area--repeatcol--main > .layout-builder-block {
  box-sizing: border-box;
  outline: 2px dashed #2f91da;
}
.layout-builder .area--background {
  position: relative;
  bottom: auto;
  right: auto;
  background-color: #efd5f6;
  margin-bottom: 2rem;
  outline: none;
}
.layout-builder .area--background.hidden {
  display: none !important;
}

.linkit-ui-autocomplete {
  overflow-y: auto;
  z-index: 1260;
}

.select2-container {
  z-index: 1260;
}

#drupal-off-canvas-wrapper .select2-selection__choice {
  color: black;
}

.wt_admin__row {
  display: flex;
  flex-flow: row wrap;
}
.wt_admin__row .js-form-item {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.wt_admin__row .js-form-item > div {
  width: 100%;
}
.wt_admin__row .js-form-item > label {
  width: 100%;
  flex: 0 0 auto;
}
.wt_admin__row .js-form-item > input, .wt_admin__row .js-form-item select, .wt_admin__row .js-form-item textarea {
  width: 50%;
  flex: 1 1 auto;
}
.wt_admin__row .js-form-item > .field-prefix, .wt_admin__row .js-form-item > .field-suffix {
  flex: 0 0 auto;
}
.wt_admin__row .js-form-item > .field-prefix {
  padding-right: 0.25em;
}
.wt_admin__row .js-form-item > .field-suffix {
  padding-left: 0.25em;
}
.wt_admin__row .js-form-type-radio, .wt_admin__row .js-form-type-checkbox {
  align-items: flex-start;
}
.wt_admin__row .js-form-type-radio input, .wt_admin__row .js-form-type-checkbox input {
  flex: 0 0 auto;
}
.wt_admin__row .js-form-type-radio label, .wt_admin__row .js-form-type-checkbox label {
  width: calc(100% - 16px - 0.25em);
  flex: 1 1 auto;
}
.wt_admin__row > div {
  flex: 1 1 auto;
  min-width: 150px;
  padding-right: 10px;
  width: 100%;
  box-sizing: border-box;
}
.wt_admin__row > div:last-child {
  padding-right: 0;
  min-width: 140px;
}
.wt_admin__row--quarter > div {
  width: 25%;
}
.wt_admin__row--third > div {
  width: 33.3333%;
}
.wt_admin__row--half > div {
  width: 50%;
}
.wt_admin__row--one-two > div:nth-child(odd) {
  width: 33.3333%;
}
.wt_admin__row--one-two > div:nth-child(even) {
  width: 66.6666%;
}
.wt_admin__row--two-one > div:nth-child(odd) {
  width: 66.6666%;
}
.wt_admin__row--two-one > div:nth-child(even) {
  width: 33.3333%;
}

.paragraph-bullet:after {
  content: none;
}

:root {
  --color--text: #222330;
  --color--admin: #ba182a;
  --color--admin-accent: #8c1220;
  --color--admin-light: #e84f61;
  --color--admin-verylight: #fdf5f5;
  --filter--blue-to-red: hue-rotate(131deg) saturate(0.77) brightness(1.02);
}

.region--pre_content {
  margin-bottom: 1.5rem;
}

.layout-region-node-main > .field--name-title > .form-item {
  margin-top: 0;
}

/**
 *
 * some DGM node types like infopoint or A-Z do not have a sidebar
 *
 */
.layout-node-form > .layout-region:not(.layout-region-node-main):not(.layout-region-node-secondary) {
  grid-column: 1/-1;
}

/**
 *
 * BUTTONS, LINKS
 *
 */
.views-bulk-actions .views-bulk-actions__item button, .views-bulk-actions .views-bulk-actions__item input[type=button], .views-bulk-actions .views-bulk-actions__item .button, .views-bulk-actions .views-bulk-actions__item .button--primary, a.entity-browser-handle {
  display: inline-block;
  margin: 1rem 0.75rem 1rem 0;
  padding: calc(1rem - 1px) calc(1.5rem - 1px);
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: var(--color--text);
  border: 1px solid transparent !important;
  border-radius: 2px;
  background-color: #d4d4d8;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1rem;
  appearance: none;
}
.views-bulk-actions .views-bulk-actions__item button:hover, .views-bulk-actions .views-bulk-actions__item input[type=button]:hover, .views-bulk-actions .views-bulk-actions__item .button:hover, .views-bulk-actions .views-bulk-actions__item .button--primary:hover, a.entity-browser-handle:hover, .views-bulk-actions .views-bulk-actions__item button:focus, .views-bulk-actions .views-bulk-actions__item input[type=button]:focus, .views-bulk-actions .views-bulk-actions__item .button:focus, .views-bulk-actions .views-bulk-actions__item .button--primary:focus, a.entity-browser-handle:focus {
  text-decoration: none;
  background-color: #c2c3ca;
  color: var(--color--text);
}

a {
  color: var(--color--admin);
}
a:hover, a:focus {
  color: var(--color--admin-accent);
}

.button--primary {
  background-color: var(--color--admin);
}
.button--primary:hover, .button--primary:focus {
  background-color: var(--color--admin-accent);
  color: white;
}

.form-boolean--type-checkbox:checked, .form-boolean--type-radio:checked {
  filter: var(--filter--blue-to-red);
}

/**
 *
 * VIEWS TABLES
 *
 */
.sortable-heading.is-active > a {
  color: var(--color--admin);
}
.sortable-heading.is-active > a::before {
  border-bottom-color: var(--color--admin);
}
.sortable-heading.is-active > a:hover, .sortable-heading.is-active > a:focus {
  color: var(--color--admin-accent);
  outline: 0;
}

.tablesort--desc, .tablesort--asc {
  filter: var(--filter--blue-to-red);
}

/**
 *
 * PRIMARY AND SECONDARY TABS
 *
 */
.tabs__tab.is-active::before {
  border-left-color: var(--color--admin);
}
.tabs__link.is-active {
  color: var(--color--admin);
}
.tabs__trigger svg {
  filter: var(--filter--blue-to-red);
}

.is-horizontal-enabled:not(.is-horizontal) .tabs__link.is-active {
  color: var(--color--admin);
}

@media screen and (min-width: 48em) {
  .is-horizontal .tabs--primary, .is-horizontal .tabs--secondary {
    width: 100%;
  }
  .is-horizontal .tabs--primary {
    border-bottom: 1px solid #d4d4d8;
  }
  .is-horizontal .tabs--primary .tabs__tab {
    background-color: #ebebeb;
  }
  .is-horizontal .tabs--primary .tabs__tab.is-active {
    background-color: var(--color--admin);
  }
  .is-horizontal .tabs--secondary {
    margin: 0;
    padding: 0;
  }
  .is-horizontal .tabs--secondary::after {
    content: none;
  }
  .is-horizontal .tabs--secondary .tabs__tab {
    background-color: #f5f5f2;
  }
  .is-horizontal .tabs--secondary .tabs__tab.is-active {
    background-color: var(--color--admin-light) !important;
  }
  .is-horizontal .tabs__link:hover, .is-horizontal .tabs__link:focus {
    background-color: transparent;
    color: var(--color--admin);
  }
  .is-horizontal .tabs__link.is-active {
    color: white;
  }
  .tabs__link:hover, .tabs__link:focus {
    color: var(--color--admin);
    outline: 0;
  }
  .tabs__link.is-active {
    color: white;
  }
  .tabs__link::before {
    content: none;
  }
}
/**
 *
 * VERTICAL TABS
 *
 */
.vertical-tabs__menu-item.is-selected .vertical-tabs__menu-link {
  color: var(--color--admin);
}
.vertical-tabs__menu-item.is-selected .vertical-tabs__menu-link:hover, .vertical-tabs__menu-item.is-selected .vertical-tabs__menu-link:focus {
  color: var(--color--admin);
}
.vertical-tabs__menu-item.is-selected .vertical-tabs__menu-link::before {
  border-left-color: var(--color--admin);
}
.vertical-tabs__menu-link:hover, .vertical-tabs__menu-link:focus {
  color: var(--color--admin);
}

/**
 *
 * DETAILS, ACCORDIONS
 *
 */
.claro-details[open] > .claro-details__summary:focus {
  color: var(--color--admin-accent);
}

.claro-details__summary:hover {
  color: var(--color--admin-accent);
  background-color: var(--color--admin-verylight);
}

[open] .claro-details__summary--accordion, [open] .claro-details__summary--accordion-item, [open] .claro-details__summary--vertical-tabs-item {
  color: var(--color--admin);
}
[open] .claro-details__summary--accordion::after, [open] .claro-details__summary--accordion-item::after, [open] .claro-details__summary--vertical-tabs-item::after {
  border-left-color: var(--color--admin) !important;
}
[open] .claro-details__summary--accordion:hover, [open] .claro-details__summary--accordion:focus, [open] .claro-details__summary--accordion-item:hover, [open] .claro-details__summary--accordion-item:focus, [open] .claro-details__summary--vertical-tabs-item:hover, [open] .claro-details__summary--vertical-tabs-item:focus {
  color: var(--color--admin-accent);
}

.claro-details[open] > .claro-details__summary:focus {
  color: var(--color--admin-accent);
}

.claro-details__summary:hover::before, .claro-details__summary:focus::before, .claro-details[open] > .claro-details__summary::before {
  filter: var(--filter--blue-to-red);
}

/**
 *
 * make input fields full width
 *
 */
.form-element {
  width: 100%;
}

/**
 *
 * side by side input fields for multi-column fields like daterange, geolocation, etc
 *
 */
.field--type-daterange .fieldset__wrapper, .geolocation-widget-input > .fieldset__wrapper {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
}
.field--type-daterange .fieldset__wrapper .form-item, .geolocation-widget-input > .fieldset__wrapper .form-item {
  margin-top: 0;
  margin-bottom: 0;
}

/*
 *
 * Entity browser select link style like button
 *
 */
/**
 *
 * force view bulk actions into a single line
 *
 */
@media (min-width: 768px) {
  [data-drupal-selector*=-bulk-form]:not(.webform-bulk-form) {
    flex-flow: row nowrap;
    display: flex;
    align-items: flex-end;
  }
  [data-drupal-selector*=-bulk-form]:not(.webform-bulk-form) > * {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  [data-drupal-selector*=-bulk-form]:not(.webform-bulk-form) > * + * {
    margin-left: 1rem;
  }
  [data-drupal-selector*=-bulk-form]:not(.webform-bulk-form) > [data-drupal-selector=edit-actions] {
    margin-bottom: 0;
  }
}

/**
 *
 * views exposed forms are wrapped into a details, remove form styling
 *
 */
.views-exposed-form.views-exposed-form {
  display: block;
  border: 0;
  padding: 0;
}

/**
 *
 * VIEWS PAGER
 *
 */
.pager__link.is-active, .pager__item--current {
  background-color: var(--color--admin);
}

/**
 *
 * Admin menu blocks
 *
 */
.admin-item__link::before {
  filter: var(--filter--blue-to-red);
}

/**
 *
 * Spacing for form field prefixes
 *
 */
@media screen and (min-width: 601px) {
  .form-item__prefix {
    margin-right: 0.5rem;
  }
}
#toolbar-administration .toolbar-menu-administration button.toolbar-icon.toolbar-handle {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg class='svg-inline--fa fa-chevron-down fa-w-14' aria-hidden='true' focusable='false' data-prefix='fas' data-icon='chevron-down' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' data-fa-i2svg=''%3E%3Cpath fill='currentColor' d='M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z'%3E%3C/path%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg class='svg-inline--fa fa-chevron-down fa-w-14' aria-hidden='true' focusable='false' data-prefix='fas' data-icon='chevron-down' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' data-fa-i2svg=''%3E%3Cpath fill='currentColor' d='M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z'%3E%3C/path%3E%3C/svg%3E");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-size: 1rem;
  mask-size: 1rem;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  background: white;
}
#toolbar-administration .toolbar-menu-administration button.toolbar-icon.toolbar-handle.open {
  transform: rotate(180deg);
}

.views-bulk-actions {
  background-color: #777;
}

/*# sourceMappingURL=wt_admin.css.map */
