@use "layout_builder_ui";
@use "field_group";
@use "paragraphs";

:root {
  --color--text: #222330;
  --color--admin: #ba182a;
  --color--admin-accent: #8c1220;
  --color--admin-light: #e84f61;
  --color--admin-verylight: #fdf5f5;
  --filter--blue-to-red: hue-rotate(131deg) saturate(0.77) brightness(1.02);
}

.region--pre_content {
  margin-bottom: 1.5rem;
}

.layout-region-node-main > .field--name-title >.form-item {
  margin-top: 0;
}

/**
 *
 * some DGM node types like infopoint or A-Z do not have a sidebar
 *
 */
.layout-node-form > .layout-region:not(.layout-region-node-main):not(.layout-region-node-secondary) {
    grid-column: 1/-1;
}

/**
 *
 * BUTTONS, LINKS
 *
 */
%button {
  display: inline-block;
  margin: 1rem 0.75rem 1rem 0;
  padding: calc(1rem - 1px) calc(1.5rem - 1px);
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: var(--color--text);
  border: 1px solid transparent !important;
  border-radius: 2px;
  background-color: #d4d4d8;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1rem;
  appearance: none;

  &:hover, &:focus {
    text-decoration: none;
    background-color: #c2c3ca;
    color: var(--color--text);
  }
}

a {
  color: var(--color--admin);

  &:hover, &:focus {
    color: var(--color--admin-accent);
  }
}

.button--primary {
  background-color: var(--color--admin);

  &:hover, &:focus {
    background-color: var(--color--admin-accent);
    color: white;
  }
}

.form-boolean--type-checkbox:checked, .form-boolean--type-radio:checked {
  filter: var(--filter--blue-to-red);
}

/**
 *
 * VIEWS TABLES
 *
 */

.sortable-heading.is-active > a {
  color: var(--color--admin);

  &::before {
    border-bottom-color: var(--color--admin);
  }

  &:hover, &:focus {
    color: var(--color--admin-accent);
    outline: 0;
  }
}

.tablesort--desc, .tablesort--asc {
  filter: var(--filter--blue-to-red);
}

/**
 *
 * PRIMARY AND SECONDARY TABS
 *
 */

.tabs {
  &__tab.is-active {
    &::before {
      border-left-color: var(--color--admin);
    }
  }

  &__link.is-active {
    color: var(--color--admin);
  }

  &__trigger svg {
    filter: var(--filter--blue-to-red)
  }
}

.is-horizontal-enabled:not(.is-horizontal) {
  .tabs__link.is-active {
    color: var(--color--admin);
  }
}

@media screen and (min-width: 48em) {
  .is-horizontal {
    .tabs--primary, .tabs--secondary {
      width: 100%;
    }

    .tabs--primary {
      border-bottom: 1px solid #d4d4d8;

      .tabs__tab {
        background-color: #ebebeb;

        &.is-active {
          background-color: var(--color--admin);
        }
      }
    }

    .tabs--secondary {
      margin: 0;
      padding: 0;

      &::after {
        content: none;
      }

      .tabs__tab {
        background-color: #f5f5f2;

        &.is-active {
          background-color: var(--color--admin-light) !important;
        }
      }
    }

    .tabs__link {
      &:hover, &:focus {
        background-color: transparent;
        color: var(--color--admin);
      }

      &.is-active {
        color: white;
      }
    }
  }

  .tabs__link {
    &:hover, &:focus {
      color: var(--color--admin);
      outline: 0;
    }

    &.is-active {
      color: white;
    }

    &::before {
      content: none;
    }
  }
}

/**
 *
 * VERTICAL TABS
 *
 */

.vertical-tabs {
  &__menu-item {
    &.is-selected {
      .vertical-tabs__menu-link {
        color: var(--color--admin);

        &:hover, &:focus {
          color: var(--color--admin);
        }

        &::before {
          border-left-color: var(--color--admin);
        }
      }
    }
  }

  &__menu-link {
    &:hover, &:focus {
      color: var(--color--admin);
    }
  }
}

/**
 *
 * DETAILS, ACCORDIONS
 *
 */

.claro-details[open] > .claro-details__summary:focus {
  color: var(--color--admin-accent);
}

.claro-details__summary:hover {
  color: var(--color--admin-accent);
  background-color: var(--color--admin-verylight);
}

[open] {
  .claro-details__summary--accordion, .claro-details__summary--accordion-item, .claro-details__summary--vertical-tabs-item {
    color: var(--color--admin);

    &::after {
      border-left-color: var(--color--admin) !important;
    }

    &:hover, &:focus {
      color: var(--color--admin-accent);
    }
  }
}

.claro-details[open] > .claro-details__summary:focus {
  color: var(--color--admin-accent);
}

.claro-details__summary:hover::before, .claro-details__summary:focus::before, .claro-details[open] > .claro-details__summary::before {
  filter:var(--filter--blue-to-red);
}

/**
 *
 * make input fields full width
 *
 */
.form-element {
    width: 100%;
}

/**
 *
 * side by side input fields for multi-column fields like daterange, geolocation, etc
 *
 */
.field--type-daterange .fieldset__wrapper, .geolocation-widget-input > .fieldset__wrapper {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));

  .form-item {
    margin-top: 0;
    margin-bottom: 0;
  }
}

/*
 *
 * Entity browser select link style like button
 *
 */

a.entity-browser-handle {
  @extend %button;
}

/**
 *
 * force view bulk actions into a single line
 *
 */

[data-drupal-selector*="-bulk-form"]:not(.webform-bulk-form) {
  @media (min-width: 768px) {
    flex-flow: row nowrap;
    display: flex;
    align-items: flex-end;

    > * {
      margin-top: 1rem;
      margin-bottom: 1rem;

      & + * {
        margin-left: 1rem;
      }
    }

    > [data-drupal-selector="edit-actions"] {
      margin-bottom: 0;
    }
  }
}

/**
 *
 * views exposed forms are wrapped into a details, remove form styling
 *
 */

.views-exposed-form.views-exposed-form {
  display: block;
  border: 0;
  padding: 0;
}

/**
 *
 * VIEWS PAGER
 *
 */

.pager__link.is-active, .pager__item--current {
  background-color: var(--color--admin);
}

/**
 *
 * Admin menu blocks
 *
 */

.admin-item__link::before {
  filter: var(--filter--blue-to-red);
}

/**
 *
 * Spacing for form field prefixes
 *
 */

@media screen and (min-width: 601px) {
  .form-item__prefix {
    margin-right: 0.5rem;
  }
}

#toolbar-administration .toolbar-menu-administration {
  button.toolbar-icon.toolbar-handle {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg class='svg-inline--fa fa-chevron-down fa-w-14' aria-hidden='true' focusable='false' data-prefix='fas' data-icon='chevron-down' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' data-fa-i2svg=''%3E%3Cpath fill='currentColor' d='M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z'%3E%3C/path%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg class='svg-inline--fa fa-chevron-down fa-w-14' aria-hidden='true' focusable='false' data-prefix='fas' data-icon='chevron-down' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' data-fa-i2svg=''%3E%3Cpath fill='currentColor' d='M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z'%3E%3C/path%3E%3C/svg%3E");
    -webkit-mask-position: center center;
    mask-position: center center;
    -webkit-mask-size: 1rem;
    mask-size: 1rem;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background: white;
    &.open {
      transform: rotate(180deg);
    }
  }
}

.views-bulk-actions {
  background-color: #777;

  .views-bulk-actions__item {
    button, input[type=button], .button, .button--primary {
      @extend %button;
    }
  }
}
