@use "sass:color";

$background-color: #000;
$border-color: #aaa;
$background-lightening-steps: 15%;
$claro-color: #003cc5;
$claro-hover: #0036b1;
$claro-outline: #26a769;
$outline-hover: color.mix(black, $claro-outline, 20%);

$named--paddings: (
  'none',
  'thin',
  'small',
  'large',
) !default;

/**
 *
 * OFF CANVAS
 *
 */
.ui-dialog.ui-dialog-off-canvas {
  .ui-dialog-titlebar {
    border-radius: 0;
    background-color: color.scale($background-color, $lightness: $background-lightening-steps);
    color: white;
  }

  .ui-dialog-titlebar-close {
    top: 50%;
    transform: translateY(-50%);
  }
}

#drupal-off-canvas-wrapper {
  background-color: color.scale($background-color, $lightness: $background-lightening-steps);
  color: white;
  min-width: min(600px, 100%);
  box-sizing: border-box;

  .fieldset {
    background-color: transparent;
    color: white;
  }

  .fieldset__legend {
    color: white;
  }

  .fieldset__description {
    color: white;
  }

  li {
    padding-bottom: 0.2em;
  }

  a:not(.button) {
    color: white;
    text-decoration: none;
    outline: 0;
    padding: 0;
    border: 0;
    box-shadow: none;

    &:hover, &:focus {
      color: #ffd23f;
    }
  }

  .form-element--type-select {
    width: 100%;
  }

  a.inline-block-create-button {
    margin: 0;
    text-decoration: none;
    padding: 1rem;
    font-weight: bold;
    background: $claro-outline;
    box-shadow: 2px 2px 5px #888;
    transition: all 150ms linear;
    border-radius: 4px;
    text-align: center;

    &:hover, &:focus {
      background: $outline-hover;
      color: white;
      border: 0;
      outline: 0;
      box-shadow: 0 0 0 black;
    }
  }

  .layout-selection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    margin: 0;
    padding: 0;
    grid-gap: 10px;

    li {
      margin: 0;
      padding: 0;
      text-align: center;
    }

    a {
      svg {
        display: block;
        transform: scaleY(0.75);
        transform-origin: top left;
        margin: 0 auto -10%;
      }
    }
  }

  .claro-details {
    background-color: color.scale($background-color, $lightness: $background-lightening-steps);
    color: white;
    margin-left: -1em;
    margin-right: calc(-1em + 1px);
    border: 0;

    &:hover, &:focus, &[open] {
      background-color: color.scale($background-color, $lightness: 2 * $background-lightening-steps);
      color: white;
    }

    &__summary {
      color: white;
      background-color: transparent;

      &:hover, &:focus {
        background-color: transparent;
        color: white;
      }

      &::before {
        filter: grayscale(100%) brightness(1000%);
      }
    }

    &__wrapper {
      margin: 0;
      padding: 1em;
    }
  }

  .inline-block-list__item {
    display: inline;
    padding: 0;
    margin: 0;
    background-color: transparent;
  }

  .form-item__description {
    color: #ccc;
  }

  .media-library-widget__toggle-weight {
    display: none;
  }

  .media-library-selection .media-library-item--grid {
    min-width: 200px;
  }

  .media-library-item__name {
    color: black;
  }

  .tabledrag-handle::after {
    filter: invert(1);
  }

  .tabledrag-toggle-weight-wrapper {
    display: none;
  }

  tr {
    background-color: transparent;
    color: white;
  }

  th {
    background-color: color.scale($background-color, $lightness: $background-lightening-steps);
    color: white;
  }
}

svg.layout-icon {
  > g > rect[class*="fake-area-force-hidden"] {
    display: none !important;
  }
}

/**
 *
 * MAIN AREA
 *
 */

.node-layout-builder-form {
  .form-type--vertical-tabs {
    /**
     * hide revision information in layout builder form
     */
    display: none;
  }
}

.layout-builder {
  border: 0;
  padding: 0;
  @media screen and (min-width: 38em) {
    margin-left: calc(-3rem + 2px);
    margin-right: calc(-3em + 2px);
  }

  * {
    box-sizing: border-box;
  }

  &__link--add {
    display: inline-block;
    color: white;
    background: #555;
    padding: 0.33em 0.66em;
    font-weight: bold;
    text-decoration: none;

    &:hover, &:focus {
      background: $claro-color;
      color: white;
    }
  }

  &__layout {
    &.is-layout-builder-highlighted {
      border: 0 !important;
      outline: 4px solid $claro-outline !important;
      outline-offset: -4px;
    }
  }

  &__section {
    margin-bottom: 0;
  }

  &__add-section {
    background-color: #ddd;
    padding: 10px 0;
    outline: 0;
    border: 0;
    margin-bottom: 0;

    &.is-layout-builder-highlighted {
      border: 0 !important;
      outline: 4px solid $claro-outline !important;
      outline-offset: -4px;
    }
  }

  &__link--remove {
    margin-left: -2px;
    transform: translateY(-4px);
  }

  &__add-block {
    position: absolute;
    bottom: 2rem;
    transform: translateY(50%);
    left: 0;
    width: 100%;
    background-color: transparent;
    padding: 0;
    outline: 0;
    border: 0;

    &.is-layout-builder-highlighted {
      position: absolute;
      border: 0;

      .layout-builder__link {
        background-color: $claro-outline;
      }
    }
  }


  &-block {
    background-color: transparent;
  }

  @each $key in $named--paddings {
    .area--gap-#{$key} {
      position: relative;

      &::before, &::after {
        content: '';
        position: absolute;
        display: block;
        background-color: white;
        top: 0;
        bottom: 0;
        width: calc(var(--grid--gap--#{$key}) / 2);
        outline: 2px solid white;
        z-index: 9;
      }

      &::before {
        border-right: 2px dashed #2f91da;
        left: 0;
      }


      &::after {
        right: 0;
        border-left: 2px dashed #2f91da;
      }
    }
  }
  //display blocks like regions in this special section
  .wrapper--repeatcol {
    outline: 0 none !important;
  }


  .area {
    position: relative;
    padding-bottom: 4rem;

    &--repeatcol {
      &--main {
        > .layout-builder-block {
          box-sizing: border-box;
          outline: 2px dashed #2f91da;
        }
      }
    }

    &--background {
      position: relative;
      bottom: auto;
      right: auto;
      background-color: #efd5f6;
      margin-bottom: 2rem;
      outline: none;

      &.hidden {
        display: none !important;
      }
    }
  }
}

.linkit-ui-autocomplete {
  overflow-y: auto;
  z-index: 1260;
}

.select2-container {
  z-index: 1260;
}

#drupal-off-canvas-wrapper {
  .select2-selection__choice {
    color: black;
  }
}
