{% set hasSidebarAccess = form.advanced['#access'] ?? true %}

<div class="layout-node-form clearfix">
  <div class="layout-region {% if hasSidebarAccess %}layout-region-node-main{% endif %}">
    {{ form|without('advanced', 'footer', 'actions') }}
  </div>
  {% if hasSidebarAccess %}
    <div class="layout-region layout-region-node-secondary">
      {{ form.advanced }}
    </div>
  {% endif %}
  <div class="layout-region layout-region-node-footer">
    <div class="layout-region-node-footer__content">
      <div class="divider"></div>
      {{ form.footer }}
      {{ form.actions }}
    </div>
  </div>
</div>
